.jumbotron {
  padding-top: 6rem;
  background-color: #f7f1e0;
}

#projects {
  background-color: #f7f1e0;
}

section {
  scroll-margin-top: 12rem;
}
/* 
.carousel-item {
  height: 500px;
} */

.carousel-item img {
  border: 2px solid #f7f1e0;
}

.carousel-control-prev,
.carousel-control-next {
  margin-top: 18%;
  height: 0;
}
