.jumbotron {
  padding-top: 6rem;
  background-color: #f7f1e0;
}

#projects {
  background-color: #f7f1e0;
}

section {
  scroll-margin-top: 12rem;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  margin: auto;
  box-shadow: 4px 4px 4px 4px #a7a6a6;
}

.carousel-control-prev {
  color: #ffc107;
}
